*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #4030ff;
	--secondary-color: #7166fc;
}

body {
	background-color: #ffffff;
	color: #000000;
	font-family: 'Raleway', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	visibility: hidden;
	overflow-x: hidden;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	width: 100%;
}

.highlight {
	color: var(--primary-color);
	display: inline-block;
	font-weight: 800;
}

.title {
	text-align: center;
	font-size: clamp(40px, 7vw, 70px);
}

.subtitle {
	text-align: center;
	font-size: clamp(25px, 5vw, 50px);
}

/* ========== INTRO ========== */

#intro {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	height: 100vh;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}
#intro h1 {
	font-size: clamp(14px, 10vw, 50px);
	display: flex;
	gap: 10px;
	font-weight: 400;
}
#intro h2 {
	font-size: clamp(14px, 8vw, 40px);
	font-weight: 400;
}
.fullname {
	font-weight: 900;
}
#intro p {
	margin-top: 50px;
}
#intro h1 span {
	display: block;
}
.clown {
	text-align: right;
}

/* ========== COURTAINS ========== */

#courtains {
	height: 100vh;
	font-size: clamp(20px, 6vw, 45px);
	margin-top: 100vh;
	position: relative;
}
#courtains .courtains-title {
	position: absolute;
	width: 70%;
	font-weight: 400;
	top: 50px;
	left: 0;
}
#courtains .highlight {
	font-weight: 800;
}

#courtains .right-title {
	top: unset;
	left: unset;
	bottom: 50px;
	right: 0;
}

.courtains-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 900;
	font-size: clamp(40px, 8vw, 80px);
	white-space: nowrap;
	text-align: center;
}
.courtains {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #000000;
	width: 50%;
}
.courtains.right {
	left: unset;
	right: 0;
}

.right-title {
	text-align: right;
	margin-top: 100px;
}
.small {
	font-size: clamp(10px, 3vw, 20px);
}

/* ========== PRESENTATION ========== */
#presentation {
	background-color: #000000;
	color: #ffffff;
	padding: 50vh 0 70vh 0;
	margin-bottom: 50vh;
	clip-path: ellipse(145% 65% at 50% 35%);
}
.presentation-title {
	margin-bottom: 90vh;
}
.presentation-container {
	display: flex;
	align-items: start;
	gap: 50px;
}

#presentation .stickyTitle {
	position: sticky;
	top: 30%;
	left: 0;
	width: 40%;
	text-align: right;
	font-size: clamp(30px, 5vw, 50px);
	padding: 20px 50px;
	border-right: 5px solid var(--secondary-color);
}
#presentation .highlight {
	color: var(--secondary-color);
	text-decoration: none;
	font-weight: 800;
}
#presentation .info {
	width: 60%;
}
#presentation .info > div {
	padding-top: 50vh;
	padding-bottom: 50vh;
}
#presentation .info > div:last-child {
	padding-bottom: 20px;
}

/* ========== CERTIFICATES ========== */

#certificates .intro {
	position: relative;
	height: 100vh;
	text-align: center;
}

#certificates .intro > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#certificates .number {
	color: var(--primary-color);
	line-height: 1;
	overflow: hidden;
	font-size: clamp(80px, 20vw, 250px);
	display: flex;
}

.numberOfCertificates {
	display: flex;
	justify-content: end;
	align-items: start;
	gap: 100px;
}
.numberOfCertificates {
	margin-bottom: 80vh;
}
.numberOfCertificates .info {
	width: 50%;
	font-size: clamp(16px, 3vw, 30px);
}
.numberOfCertificates a.highlight {
	text-decoration: none;
}

/* ========== KNOWLEDGE ========== */
#knowledge .horizontal-scroll > h3.subtitle {
	min-width: 100vw;
	text-align: left;
	margin-left: 100px;
	font-size: 100px;
}
#knowledge > .title {
	margin-bottom: 50vh;
}

#knowledge .horizontal-scroll {
	height: 100vh;
	display: flex;
	align-items: center;
	gap: 50px;
}

#knowledge .card {
	min-width: 400px;
	width: 400px;
	height: 450px;
	max-height: 100vh;
	overflow: auto;
	max-width: 80vw;
	border-radius: 16px;
	background-color: #eeeeee;
	color: #000000;
	box-shadow: 0px 4px 15px #00000040;
	padding: 20px;
	text-align: center;
}

#knowledge .card > img {
	width: 100px;
	height: auto;
}
#knowledge .card .card__title {
	font-size: 40px;
	font-weight: 600;
	margin: 10px 0 30px 0;
	/* rgb(250 239 164) */
}

#knowledge .title.more {
	margin: 50vh 0;
}

#knowledge .technologies {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	gap: 50px;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
}

#knowledge .technologies img {
	width: 100%;
	height: auto;
}

#knowledge .technologies.container {
	max-width: 1200px;
}

#knowledge .technologies img:nth-child(1) {
	grid-column: 1 / 4;
}
#knowledge .technologies img:nth-child(2) {
	grid-column: 4 / 10;
}
#knowledge .technologies img:nth-child(3) {
	grid-column: 10 / 13;
}
#knowledge .technologies img:nth-child(4) {
	grid-column: 1 / 4;
}
#knowledge .technologies img:nth-child(5) {
	grid-column: 4 / 7;
}
#knowledge .technologies img:nth-child(6) {
	grid-column: 7 / 10;
}
#knowledge .technologies img:nth-child(7) {
	grid-column: 10 / 13;
}
#knowledge .technologies img:nth-child(8) {
	grid-column: 1 / 7;
}
#knowledge .technologies img:nth-child(9) {
	grid-column: 7 / 13;
}

/* ========== EXPERIENCES ========== */

#experiences {
	margin: 20vh 0 100vh 0;
}

/* ========== ENGIMEDIA ========== */
#engimedia {
	background-image: url(/assets/logos/engimedia.svg);
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 0%;
	background-color: white;
	background-size: 100%;
	display: block;
	position: relative;
}

#engimedia .analysis p {
	color: black;
	color: white;
	font-size: 100px;
	mix-blend-mode: difference;
	margin: 80vh 0;
}
#engimedia .analysis p:first-child {
	margin-top: 0;
	padding-top: 40vh;
}
#engimedia .analysis p.right {
	text-align: right;
}
#engimedia .analysis p.center {
	text-align: center;
	margin-bottom: 30vh;
}
#engimedia .analysis .details {
	font-size: 18px;
	display: block;
}

/* ========== SET IT UP ========== */
#setitup .background {
	height: 100vh;
	background-color: #ffffff;
	position: relative;
	overflow: hidden;
}
#setitup .background .circle {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	background-color: #afd0d7;
	transform: translate(-50%, 50%);
	border-radius: 50%;
}

#setitup .content {
	background-color: #afd0d7;
	color: #000000;
	font-size: 30px;
	text-align: center;
	position: relative;
	display: block;
	padding-bottom: 500px;
}
#setitup > .content > .intro {
	display: flex;
	position: relative;
	align-items: center;
}
#setitup > .content > .intro > * {
	width: 50%;
}

#setitup .logo {
	width: 100%;
	max-width: 500px;
}

#setitup .title {
	color: #005e6b;
	text-transform: uppercase;
	text-align: center;
	mix-blend-mode: multiply;
}

#setitup .highlight {
	color: #005e6b;
}

#setitup .bubble {
	background-color: #275c69;
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
#setitup .bubble.light {
	background-color: #dbf7ff;
}
#setitup .text {
	mix-blend-mode: multiply;
	font-size: 35px;
	margin-top: 20vh;
}

/* ========== WOMPO ========== */
#wompo {
	position: relative;
	display: block;
}

#wompo .intro {
	display: block;
	position: relative;
	height: 100vh;
	background-color: #afd0d7;
	overflow: hidden;
}

#wompo .bubble,
#wompo-logo,
#wompo .wompo-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#wompo .bubble {
	background-color: #275c69;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#wompo #wompo-logo {
	width: 500px;
	height: 500px;
	max-width: 90vw;
	max-height: 90vh;
	color: #e2defd;
	opacity: 0.4;
}

#wompo .wompo-title {
	color: #ffffff;
	text-align: center;
	text-decoration: none;
}
#wompo .wompo-title h2 {
	font-size: 100px;
}
#wompo .wompo-title h3 {
	font-size: 30px;
}

#wompo .info {
	background-color: #573ef6;
	color: #ffffff;
	font-size: 28px;
	padding: 70vh 0;
}

#wompo .highlight {
	color: #e2defd;
	opacity: 0.6;
	font-weight: 400;
	text-decoration: none;
}

#wompo .info > .container {
	display: flex;
	flex-direction: column;
	gap: 30vh;
}

#wompo .info p {
	width: 70%;
}

#wompo .info p:nth-child(odd) {
	text-align: right;
	align-self: flex-end;
}
