* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffffff;
	color: #000000;
	font-family: 'Raleway', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	visibility: hidden;
}

#intro-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	height: 100vh;
	text-align: center;
}
#intro-section h1 {
	font-size: clamp(14px, 10vw, 50px);
	display: flex;
	gap: 10px;
	font-weight: 400;
}
#intro-section h2 {
	font-size: clamp(14px, 8vw, 40px);
	font-weight: 400;
}
.fullname {
	font-weight: 900;
}
#intro-section p {
	margin-top: 50px;
}
#intro-section h1 span {
	display: block;
}
.clown {
	text-align: right;
}

#presentation-section {
	background-color: #333333;
	color: #ffffff;
	height: 100vh;
}
